    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About The Futurepreneur</h2>
              <br/>
                <p>Welcome to The Futurepreneur! We are a non-profit organization committed to helping and empowering the next generation of entrepreneurs. Our mission is to provide young people with the resources, knowledge, and inspiration they need to succeed in the fast-paced and ever-changing world of business.</p>
                <p>Through our platform, we aim to create a community of like-minded individuals who share a passion for innovation, creativity, and entrepreneurship. We believe that every young person has the potential to become a successful entrepreneur, and we are here to support them every step of the way.</p>
                <p>Our team consists of experienced entrepreneurs, business leaders, and industry experts who are dedicated to sharing their knowledge and expertise with the next generation. We offer a wide range of resources and services, including mentorship programs, networking opportunities, and educational resources to help young people build their skills and launch their own ventures.</p>
                <p>At The Futurepreneur, we are driven by our passion for entrepreneurship and our commitment to empowering young people. We believe that with the right tools, guidance, and support, the next generation of entrepreneurs can change the world. Join us on this journey and become a part of our vibrant community today!</p>
                <br/>
              </div>
        </div>
    </section>
